.App {
  width: 100%;
  height: 100%;
  text-align: center;

}

.container {
  width: 100%;
  height: 90%;
  margin:10%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand {
  margin-left: 2rem;
}

.nav-item {
  color:white;
}
input.form-control {
  padding-top: 2px;
  padding-bottom: 2px;
}